.main_header {
    background-color: #184a8f;
    padding: 16px;
    color: white;
}
.header {
  font-size: 32px; 
  font-weight: 600; 
  color: #ffffff; 
  letter-spacing: 1px;
  text-transform: uppercase; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.currency-container {
  padding-right: 30px;
}